* {
	margin: 0;
}

html, body{
height: 101%;
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

.contact{
	display: inline-block;
	margin-right: 30px;
}
.contact img{
	width: 50px;
	height: 50px;
	margin-right: 0px;
}
.contact a{
	text-decoration: none;
	color: #000;
	
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

footer{
	height: 155px; /* '.push' must be the same height as 'footer' */
	margin-top: 50px;
}
.push {
	height: 155px; /* '.push' must be the same height as 'footer' */
}
p.footer{
	text-align: center;
}

.project{
	padding-bottom: 10px;
	margin-top: 10px;
}

.toolList, .linkList{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
}

.project:hover{
	background-color: #eee;
	border-radius: 10px;
}

.project img{	
	width: 200px;
	height: 150px;
	display: block;
	margin: auto;
}
.carousel{
	max-height: 400px;
	max-width: 700px;
	margin: auto;
}
.carouselImg{
	width: 700px;
	max-height: 400px;
	margin:auto;
}
	
.projects a{
	text-decoration: none;
	color: #000;
}
