
<div class="col-md-6">
<h2>Work Experience</h2>
	<div ng-repeat="item in cv.work | orderBy : orderProp">
		<h3>{{item.name}}</h3>
		<h4>{{item.date}}, {{item.company}}</h4>
		<p>{{item.description}}</p>
		<div ng-repeat="tool in item.tools" class="toolList">				
				<button type="button" class="btn btn-default btn-sm" disabled="disabled">{{tool}}</button>				
		</div>
	</div>
</div>


<div class="col-md-6">
<h2>Education</h2>
	<div ng-repeat="item in cv.education | orderBy : orderProp">
		<h3>{{item.name}}</h3>
		<h4>{{item.date}}, {{item.university}}</h4>
		<p>{{item.description}}</p>
		<h4>Notable courses</h4>
		<div ng-repeat="course in item.courses | orderBy: 'toString()'" >				
				<p class="course">{{course}}</p>
		</div>
	</div>
</div>

<div class="col-md-6">
<h2>Skills</h2>	
	<div ng-repeat="item in cv.skills | orderBy: ['-skillId','name']" class="toolList">				
			<button type="button" class="btn btn-default btn-sm" disabled="disabled">{{item.name}} - {{item.skill}}</button>				
	</div>	
</div>
